.hidden {
    visibility: hidden;
}

CourseCardBackground {
    content-align: center middle;
    height: auto;
}

#split_course_area {
    layout: grid;
    grid-size: 2 1;
    grid-columns: 30 5fr;
    grid-rows: 1fr;
}

Screen {
}

AssignmentArea {
    layout: grid;
    grid-size: 1 4;
    grid-columns: 1fr;
    grid-rows: 3 1 5 1fr;
}

AssignmentArea Label {
    margin-left: 1;
}

AssignmentArea #assignment_buttons {
    max-height: 3;
    layout: horizontal;
}