# `TestResult` -- Test Result Proxy

::: gapper.core.test_result