# `TestResult` -- Test Result Proxy

## API
::: gapper.core.test_result